<!-- /**
 * Cette page nous servira a afficher les discussion
 * 
 * @param {Object} thread - La discussion à afficher
 * @param {Object[]} posts - Les posts de la discussion
 * @returns {string} - Le code HTML de la page
 */ -->
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discussion | Forum Express - <%= thread.title %></title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/vendor/quill/quill.snow.css" />
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <div class="u-main-container py-44">
      <div class="mb-8">
        <a href="/" class="text-blue-300">&larr; Retour au forum</a>
      </div>
      <h1 class="text-3xl font-bold mb-4"><%= thread.title %></h1>
      <% if(posts && posts.length > 0) { %>
      <ul class="js-posts-list mb-5">
        <% posts.forEach(post => { %>
        <li id="<%= post._id %>" class="border p-6 rounded mb-3">
          <div class="flex items-center mb-6">
            <div class="flex flex-col mr-auto">
              <span class="text-base font-semibold text-gray-100"
                ><%= post.author.userName %>
              </span>
              <span class="text-sm text-gray-400 mr-4">
                Le <%= new Date(post.createdAt).toLocaleDateString("fr-FR") %> à
                <%= new Date(post.createdAt).toLocaleTimeString("fr-FR", { hour:
                "2-digit", minute: "2-digit"}) %>
              </span>
            </div>
          </div>
          <div class="js-post-content text-lg mb-4">
            <%- post.HTMLPost %>
          </div>
        </li>
        <% }) %>
      </ul>

      <% } else { %>
      <p class="mb-5">Aucun post dans cette discussion</p>
      <% } %>
      <div class="mt-10">
        <p class="mb-2">
          Ajouter un message à cette discussion
          <form class="js-add-post-form mb-2">
            <div class="mb-5">
              <div id="add-post-editor"></div>
            </div>
            <button class="c-btn max-w-fit">Ajouter un message</button>
          </form>
          <p class="js-add-post-server-info"></p>
        </p>
      </div>
    </div>
    <script src="/vendor/quill/quill.js"></script>
    <script id="thread-config" type="application/json">
      <%- JSON.stringify({
        isLogged: !!isLoggedIn,
        threadSlug: thread.slug,
      }) %>
    </script>
    <script src="/js/thread.js"></script>

</html>
